

body {
    background-color: #94618E;
    color: #49274A;
    padding: 40px;
    font-family: 'Comic' Sans MS, 'Comic' Sans, 'cursive';
    text-align: center;
  }

/* .app {
    color: #F4DECB;
} */

.cast img{
height: 200px;
width: 200px;
padding: 15px;
}